/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,100&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.main-topic {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #43dea5;
  font-size: 40px;
}

.sub-topic {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-left: 20px;
    color: white;
    font-size: 18px;
  }

  .sub-topic-ha {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-left: 20px;
    color: white;
    font-size: 40px;
  }


.SolutionArchitectures {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  
.Application {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    align-items: center;
}
  
.Application_Logo {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(134, 214, 174);
    font-size: 18px;
}
.ha-text{
  /* margin-right: auto; */
  width:50%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  padding-left: 0px;
  padding-right: 0px;
  color: rgb(134, 214, 174);
  font-size: 18px;
}
.sol-block{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.each-slide-sa > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
  width : 100%;
}


.left{
  padding-top: 20px;
  float:left;
  width: 500px;
  height: 100%;
}

.sec-topic {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  padding-left: 20px;
  color: rgb(16, 236, 170);
  font-size: 22px;
  font-weight: bold;
}