.text-so{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    color: rgb(134, 214, 174);
    font-size: 24px;
}

.text-block-so{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.each-slide-sa > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
    width : 100%;
  }

  .sub-topic-ha {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-left: 20px;
    color: white;
    font-size: 40px;
  }

  
.each-fade {
    display: flex;
    width: 100%;
  }
  
  .each-fade > div {
    width: 75%;
  }
  
  .each-fade > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .each-fade p {
    width: 25%;
    font-size: 3em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }
  