/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,100&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.main-topic {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #43dea5;
  font-size: 40px;
}

.column-topic {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-left: 20px;
    color: white;
    font-size: 18px;
  }

.sol-block{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

table{
  width:100%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid  #43dea5;
  border-collapse: collapse;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid  #43dea5;
  border-collapse: collapse;

}
tr{
  padding: 20px 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  border: 1px solid  #43dea5;
  border-collapse: collapse;
}

.item{
  background-color: rgb(16, 139, 53);
}
